body {
    font-family: arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    background: #fbfbfb;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    min-width: 1080px;
    height: 46px;
    width: 100%;
    background: #3e94d1dd;
    line-height: 46px;
}

.header>.left {
    cursor: pointer;
    display: inline-block;
    height: 46px;
    width: 15%;
}

.logo {
    width: 46px;
    height: 46px;
}

.title {
    color: #ffffff;
    font-size: 20px;
    vertical-align: top;
}

.nav {
    height: 46px;
    min-width: 70%;
    display: inline-block;
    vertical-align: top;
}

.nav>.nav-item {
    color: #ffffff;
    min-width: 50px;
    padding: 0 16px;
    text-align: center;
    background: #58a2d7;
    float: left;
}

.nav-item.active {
    background: #3e94d1dd;
}

.nav>.nav-item:hover {
    background: #3e94d1dd;
}

.nav>.right {
    cursor: pointer;
    height: 46px;
}

.nav>.nav-item.right {
    padding: 0 8px;
    float: right;
}

.nav>div.right:hover .u-list {
    display: block;
}

.user-avatar {
    border-radius: 100%;
}

.min.user-avatar {
    width: 30px;
    height: 30px;
}

.username {
    font-size: 16px;
}

.text-top,
.text-top::before {
    vertical-align: top;
}

.nav>.right>.u-list {
    display: none;
    color: #000000;
    box-shadow: 0px 0px 5px 0px #c7c7c7;
    border-top: 0;
    padding: 4px;
    background: #ffffff;
    position: absolute;
    top: 46px;
    z-index: 100;
    cursor: auto;
}

.main {
    margin: 0 auto;
    margin-top: 20px;
    width: 1080px;
    padding: 10px;
}

.main>.left {
    display: inline-block;
    width: 820px;
}

.main>.right {
    display: inline-block;
}

.main>.right>div {
    width: 240px;
}

.main>.right>div:not(:first-child),
.main>.right>.float-box>div:not(:first-child) {
    margin-top: 10px;
}

.carousel {
    border-radius: 4px;
    width: 820px;
    height: 350px;
    background: #69a1e9;
    overflow: hidden;
    position: relative;
}

.car-item {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: 1.5s;
    opacity: 0;
}

.carousel>.car-title {
    position: absolute;
    bottom: 0;
    background: #00000050;
    width: 100%;
    height: 40px;
    z-index: 10;
}

.car-title>.car-page {
    position: absolute;
    right: 10px;
    top: 30px;
}

.car-title>span {
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
    margin-left: 4px;
}

.car-page>.car-page-item {
    cursor: pointer;
    width: 45px;
    height: 4px;
    background: #ffffff;
    float: left;
    margin-left: 4px;
}

.car-item>.car-img {
    width: 100%;
    height: 100%;
}

.msgbox {
    font-family: "Microsoft YaHei";
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 4px #e9e9e9;
    border-radius: 6px;
    background: #ffffff;
}

.msgbox>.box-title {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #fff;
    height: 30px;
    border-bottom: 1px solid #e9e9e9;
    padding: 5px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.m-top {
    width: 100%;
    height: 350px;
}

.user>.user-avatar {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.user {
    padding: 8px;
}

.user-msg>.username {
    font-weight: bold;
    color: #000000;
}

.user>.user-msg {
    vertical-align: top;
    display: inline-block;
    margin-left: 4px;
}

.box-content {
    overflow: hidden;
}

.box-content>.user {
    border-bottom: 1px solid #e9e9e9;
}

.user-msg>.user-sign {
    margin-top: 4px;
    display: block;
    font-size: 14px;
}

.user-msg>.user-group {
    display: inline-block;
    background: #E91E63;
    border-radius: 4px;
    font-size: 10px;
    padding: 2px 4px;
    color: #fff;
}

.mag-top {
    margin-top: 8px;
}

.box-h {
    margin-left: 4px;
    border-left: 3px solid #3E94D1;
    padding-left: 4px;
    font-size: 18px;
}

ul.article-list {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0;
}

ul.article-list>li {
    padding: 2px;
    padding-left: 8px;
    list-style: none;
}

ul.article-list>li>a {
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    color: #888888;
}

ul.article-list {
    padding: 4px;
}

ul.article-list.plate>li {
    width: calc(50% - 14px);
    display: inline-block;
}

ul.article-list>li:hover {
    background: rgb(221, 221, 221);
}

.msgbox>.box-footer {
    height: 50px;
    border-top: 1px solid #f1f1f1;
    width: 100%;
}

.btn {
    padding: 2px 10px;
    color: #fff;
    background: #3e94d1;
    cursor: pointer;
    border: 0;
    outline: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn.btn-l {
    font-size: 20px;
}

.content {
    margin-top: 10px;
}

.article-list>.art-item {
    margin-bottom: 10px;
    padding: 10px 30px 0 30px;
    width: 760px;
    background: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 0px 4px #e9e9e9;
    border-radius: 4px;
}

.art-top {
    display: block;
    color: #000000;
    font-size: 22px;
    margin-bottom: 10px;
}

.art-top:hover {
    color: #3E94D1;
}

.art-cont {
    margin-bottom: 10px;
}

.art-cont img {
    cursor: pointer;
    width: 100%;
    height: 180px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.art-cont p {
    margin: 0;
    color: #888888;
    font-size: 14px;
    line-height: 22px;
}

.art-footer {
    line-height: 35px;
    color: #c0c0c0;
}

.art-footer>.user-avatar {
    width: 30px;
    height: 30px;
}

.right {
    float: right;
}

.art-footer span {
    margin-left: 4px;
    font-size: 14px;
    vertical-align: top;
}

.art-footer>.right>span {
    margin-left: 15px;
}

.art-footer>.right .iconfont {
    margin-right: 4px;
}

.box-content.search {
    padding: 8px;
}

.search-box {
    border: 2px solid #6EB5E8;
    border-radius: 4px;
    line-height: 25px;
    padding: 0 4px;
}

.search-box>.search-keydown {
    border: 0;
    line-height: 25px;
    outline: none;
    width: 182px;
}

.search-box>#search {
    border: 0;
    outline: none;
    float: right;
    height: 28px;
    width: 28px;
    cursor: pointer;
    background: #ffffff;
}

.message-box {
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 0;
    margin-top: -125px;
    width: 500px;
    height: 250px;
    background: #ffffff;
    z-index: 1000000;
    box-shadow: 0px 0px 3px 0px #3E94D1;
}

.message-box.prompt {
    transition: 1s;
    opacity: .0;
    border: 0px;
    width: auto;
    min-width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: -20px;
    border-radius: 4px;
    background: rgb(212, 212, 212);
    padding: 0px 6px;
    box-shadow: 0px 0px 0px 0px #3E94D1;
}

.message-box>.prompt-icon {
    float: left;
    margin: 0 8px;
}

.prompt-icon.iconfont.icon-success {
    color: #35D59C;
}

.prompt-icon.iconfont.icon-warning {
    color: #ff1010;
}

.message-box>.message-header {
    height: 40px;
    line-height: 40px;
    padding: 0px 8px;
    background: #3E94D1;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

.message-header>.message-close {
    font-size: 18px;
    cursor: pointer;
    margin-right: 8px;
    float: right;
}

.message-header>.message-close:hover {
    color: #33CDC7;
}

.edit {
    width: 100%;
    box-sizing: border-box;
    height: 800px;
}

.edit .edit-title {
    padding: 20px 10px;
}

.edit>.edit-title>.ipt-box {
    margin: 0;
    padding: 2px 6px;
    width: 100px;
    outline: none;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}

.ipt-account.ipt-box[name=title] {
    margin-left: 10px;
    width: calc(100% - 116px);
}

.edit>.editor {
    height: 720px;
}

.editor {
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: 0px 0px 2px 1px #d6d6d6;
    overflow: hidden;
}

.editor>.source-text,
.editor>.mkdown {
    float: left;
    font-size: 15px;
    outline: none;
    border: 0;
    resize: none;
    width: 50%;
    height: calc(100% - 30px);
    box-sizing: border-box;
    border-right: 1.4px solid #d6d6d6;
    overflow-y: auto;
}

.source-text>.mktext {
    float: left;
    width: calc(100% - 20px);
    height: 100%;
    padding: 0 0 0 4px;
    outline: none;
    box-sizing: border-box;
}

.source-text>.line-number {
    float: left;
    width: 20px;
    background: #f1f1f1;
    height: 100%;
}

.editor>.mkdown {
    border: 0;
}

.mktext {
    font-family: "YaHei Consolas Hybrid", Consolas, "微软雅黑", "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, Monaco, courier, monospace;
}

.editor>.source-text::-webkit-scrollbar {
    height: 10px;
    width: 7px;
    background: rgba(0, 0, 0, .1);
}

.editor>.source-text::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.editor>.tools {
    height: 30px;
    line-height: 30px;
    padding: 0 4px 0 4px;
    border-bottom: 1px solid #d6d6d6;
}

.tools>.option {
    color: #3a3a3a;
    float: left;
    height: 30px;
    width: 30px;
    border-right: 1px #c7c7c7;
    text-align: center;
    transition: 1s;
    cursor: pointer;
}

.tools>.option:hover {
    background: #ececec;
}

.br {
    padding: 2px 4px;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.br:not(:first-child) {
    margin-top: 8px;
}

.bread>a,
.bread>i {
    font-size: 12px;
    color: #c7c7c7;
}

.bread>i {
    font-size: 10px;
}

.theme {
    height: 30px;
}

.theme>* {
    display: inline-block;
}

.theme>.sta {
    color: #c0c0c0;
    font-size: 12px;
    float: right;
    line-height: 30px;
}

.theme-title {
    font-weight: bold;
    color: #3a3a3a;
    line-height: 30px;
}

.theme-title:hover,
.top a.only:hover,
a.un:hover {
    color: #3e94d1;
}

.c-list {
    border: 1px solid #e9e9e9;
    padding: 0;
    box-sizing: border-box;
}
.comment:not(:first-child){
    border-top: 8px solid #e9e9e9;
}
.comment {
    overflow: hidden;
    display: table;
}

.comment>.u {
    height: auto;
    width: 160px;
    background: #f8f8f8;
}


.comment>.u,
.comment>.cnt {
    position: relative;
    display: table-cell;
    box-sizing: border-box;
}

.comment>.cnt {
    padding: 4px;
    top: -15px;
    width: 100%;
}

.cnt>.top {
    font-size: 12px;
    color: #c0c0c0;
    border-bottom: 1px solid #e6e6e6;
}

.top .l,
.top .only {
    float: right;
}

.top .only {
    margin-left: 8px;
    color: #c0c0c0;
}

.um {
    padding: 20px 20px 8px;
}

.um .box {
    width: 120px;
}

.um .avatar {
    margin-top: 4px;
    height: 120px;
    display: block;
    padding: 2px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #dddddd;
}

.um .un {
    color: #1a1a1a;
}

.um .umg {
    font-size: 12px;
}

.um .umg>a {
    color: #3e94d1;
}

.tl {
    height: 30px;
    font-size: 10px;
}

.tl .box {
    width: 50px;
    height: 100%;
    display: inline-block;
}

.tl .box:not(:last-child) {
    border-right: 1px solid #c7c7c7;
}

.tl>.box>.top,
.tl>.box>.number {
    display: block;
    text-align: center;
}

.tl>.box>.number {
    margin-top: 4px;
}

.u>.act {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    padding: 4px;
    box-sizing: border-box;
}

.act .btn {
    color: #fff;
    font-size: 12px;
    border-radius: 0;
    padding: 4px;
}

.act .gz {
    background: #FF9800;
}

.act .sm {
    background: #00BCD4;
}

.cnt>.botm {
    width: calc(100% - 8px);
    position: absolute;
    bottom: -15px;
    padding: 4px;
    left: 4px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
}

.cnt >.spk{
    padding: 4px;
    padding-bottom: 15px;
}

.reply{
    border: 1px solid #000000;
}